.alert {
  @include border-radius(4px);
  padding: (0.25 * $margin-half) (0.5*$margin-half);
  margin-bottom: (0.25 * $margin-half);
  &.big {
    font-size: #{(22/$font-size-base)}rem;
    font-weight: $font-weight-bold;
    text-align: center;
    padding: $margin;
  }
}

.alert-danger {
  color: $color-error;
}

.alert-success {
  .forms & {
    color: $color-white;
  }
  background-color: $color-success;

}