<div class="section lookfor">
    <h2 class="text-center">{$lookfor['title']}</h2>
    <div class="page-wrapper ">
        <div n:class="$iterator->last ? 'col-last', 'col-4 position'" n:foreach="$lookfor['positions'] as $position" >
            <h3>{$position['title']}</h3>
            <p>{$position['text']}</p>
        </div>
    </div>
</div>