<div class="section testimonials">
    <h2 class="text-center">{$testimonials['title']}</h2>
    <div class="page-wrapper text-center">
        <div n:class="$iterator->last ? 'col-last', 'col-6 founder'" n:foreach="$testimonials['founders'] as $founder">
            <figure>
                <img src="{$basePath}/images/{$founder['image']}" alt="{$founder['name']}" class="img-responsive img-founder" />
                <figcaption n:class="$iterator->last ? 'last'">
                    <p class="perex-{$iterator->counter}">{$founder['perex']}</p>
                    <h3>{$founder['name']}
                        <small>{$founder['found']}</small>
                    </h3>
                    <div class="video-link">
                        <a href="{$founder['embed']}" class="various fancybox.iframe video">
                            <img class="img-responsive"  src="http://img.youtube.com/vi/{$founder['videocode']}/mqdefault.jpg" alt="{$founder['name']}"/>
                        </a>
                    </div>
                    <div class="text-center">
                        <div class="fb-share-button" data-href="{$founder['share']}" data-layout="button"></div>
                    </div>

                </figcaption>
            </figure>

        </div>
    </div>
</div>