<div class="section wanted">
    <div class="page-wrapper">
        <h1 class="page-title text-center">{$wanted['header']}</h1>
        <p class="perex">"{!$wanted['text']}"</p>
        <div class="images">
            <img src="{$basePath}/images/{$wanted['image']}" class="img-responsive" alt="{$wanted['header']}" />
        </div>
    </div>
</div>