.contact {
  padding-bottom: (1.5 * $margin);
  border-bottom: 1px solid $color-gray-lighten;
  font-size: #{(35/$font-size-base)}rem;
  h2 {
    line-height: 1em;
  }
  a {
    color: $color-brand;
  }
}