
select,
input[type="submit"] {
  @include appearance(none);
  @include border-radius(5px);
  padding: (0.75*$margin-half) $margin;
  border: none;
  font-size: #{(22/$font-size-base)}rem;
  font-weight: $font-weight-bold;
  color: $color-white;
  cursor: pointer;
}

select,
input[type="text"],
input[type="email"] {
  @include border-radius(5px);
  @include box-sizing;
  width: 100%;
  border: 1px solid $color-gray-light;
  padding: (0.75*$margin-half) $margin-half;
  font-size: #{(18/$font-size-base)}rem;
  .error & {
    @include box-shadow(0 0 8px -1px rgba($color-error, 0.75));
    border: 1px solid $color-error;
  }
}

select {
  color: #A9A9A9;
  background: $color-white image-url('arrow-down.png') no-repeat 95% center;
}

.form-group {
  margin-bottom: 0.75  * $margin-half;
}

.forms {
  padding-bottom: (1.5 * $margin);
  border-bottom: 1px solid $color-gray-lighten;
  h2 {
    margin-bottom: $margin;
  }
  h3 {
    color: $color-gray-darken;
    font-size: #{(20/$font-size-base)};
    font-weight: $font-weight-bold;
    margin-bottom: 0.75 * $margin-half;
  }
  p {
    color: $color-gray;
  }
}

#form-1 {
  input[type="submit"] {
    background-color: $color-brand;
  }
}

#form-2 {
  input[type="submit"] {
    background-color: $color-brand-2;
  }
}