.lookfor {
  border-bottom: 1px solid $color-gray-lighten;
  h2 {
    margin-bottom: 1.5*$margin;
  }
}

.position {
  @include box-sizing;
  padding: (0.7 * $margin) $margin;
  margin-bottom: 2*$margin;
  border-right: 1px solid $color-gray-lighten;
  &.last {
    border-right: none;
  }
  h3 {
    font-size: #{(17/$font-size-base)}rem;
    margin-bottom: $margin-half;
    font-weight: $font-weight-bold;
  }
  p {
    font-weight: $font-weight-normal;
    color: $color-gray;
    line-height: $line-heigth-base;
  }
}