.testimonials {

}

.founder {
  padding-top: $margin;
  .img-founder {
    margin-bottom: 1.5 * $margin;
  }
  figcaption {
    padding: 0 (2* $margin);
    border-right: 1px solid $color-gray-lighten;

    &.last {
      border-right: none;
    }
  }
  p {
    color: $color-gray;
    margin-bottom: $margin-half;
    height: $height-page-header;
    overflow: hidden;
    position: relative;
    &:after {
      position: absolute;
      bottom: 20px;
    }
  }
  .perex-1:after {
    content: image-url('chuck.png');
  }
  .perex-2:after {
    content: image-url('mark.png');
  }
  h3 {
    font-weight: $font-weight-bold;
    color: $color-gray-darken;
    margin-bottom: 2 * $margin;
  }
  small {
    display: block;
    font-size: $fon-size-paragraph;
    font-weight: $font-weight-normal;
    color: $color-gray;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .video-link {
    margin-bottom: $margin-half;
  }
}

.video {
  display: inline-block;
  background: rgba(0, 0, 0, 0.35) image-url('play-btn.png') no-repeat center center;
  img {
    position: relative;
    z-index: -1;
  }
}