.wanted {
  background-color: $color-gray-lighten;
  padding-top: $margin;
  .perex {
    font-size: #{(30/$font-size-base)}rem;
    line-height: $line-heigth-base;
    text-align: center;
    color: $color-gray;
    margin-bottom: $margin-half;
  }
  .images {
    text-align: center;
  }

}