{snippet form}
    <div class="col-5" id="form-1">
        <h2>Mám záujem o job</h2>
        {if isset($emailSent)}
            <p class="alert alert-success big">Ďakujeme, formulár bol úspešne odoslaný.</p>
        {else}

            <ol n:if="$control['contactForm']->hasErrors()" n:inner-foreach="$control['contactForm']->errors as $error" class="alert alert-danger">
               <li>{$error}</li>
            </ol>

            {form contactForm class => "form-horizontal ajax"}

                {input msg style => 'display:none'}
                <div n:class="$control['contactForm']['jobs']->hasErrors() ? 'error','form-group'">
                    {input jobs}
                </div>
                <div n:class="$control['contactForm']['name']->hasErrors() ? 'error','form-group'">
                    {input name}
                </div>
                <div n:class="$control['contactForm']['email']->hasErrors() ? 'error','form-group'">
                    {input email}
                </div>
                <div n:class="$control['contactForm']['phone']->hasErrors() ? 'error','form-group'">
                    {input phone}
                </div>
                <div class="form-group">
                    {input linkedin}
                </div>
                <div class="form-group">
                    {input submit}
                </div>
            {/form}
        {/if}
    </div>
{/snippet}