@media only screen and (max-width: 1024px) {
  .page-wrapper {
    width: $width-tablet;
  }
  .founder figcaption {
    padding: 0 $margin;
  }
}

@media only screen and (max-width: 760px) {
  %col-reset {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  $i: 0;

  @while $i < $grid-cols {
    .#{$prefix-col}-#{$i + 1} {
      @extend %col-reset;
    }
    $i: $i + 1;
  }
  .founder figcaption, .position {
    border-right: none;
  }
  .founder {
    padding-bottom: $margin-half;
  }
  .position {
    margin-bottom: $margin-half;
  }
  .founder, .position {
    &:first-child,
    &:last-child {
      background-color: $color-gray-lighten;
    }
  }
}

@media only screen and (max-width: 640px) {
  .nav-main a {
    padding: (0.75*$margin-half) (0.55 * $margin-half);
    font-size: #{(16/$font-size-base)}rem;
  }
  .page-title {
    font-size: #{(28/$font-size-base)}rem;

  }
}

@media only screen and (min-width: 300px) and (max-width: 520px) {
  .nav-main a {
    padding: (0.75*$margin-half) (0.55 * $margin-half);
    font-size: #{(16/$font-size-base)}rem;
  }
  .page-title {
    font-size: #{(28/$font-size-base)}rem;

  }
}

@media only screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-main a {
    padding: (0.75*$margin-half) (0.35 * $margin-half);
    font-size: #{(13/$font-size-base)}rem;
  }
  .page-title {
    font-size: #{(28/$font-size-base)}rem;

  }
  .brand {
    float: left;
  }
}



