img {
  vertical-align: middle;
}

img.img-responsive {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}