%col-tablet {
  width: 100%;
  float: none;
  margin-right: 0;
}

%col-base-settings {
  float: left;
  margin-right: gutter(12);
}

%row-clearfix {
  @include pie-clearfix;
  width: 100%;
  position: relative;
}

%base-clearfix {
  @include pie-clearfix;
}

%overflow-clearfix {
  @include clearfix;
}

// flexboxses
%flex-row-between {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
}

%flex-col-between {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
}

%flex-col-center {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
}

%flex-col-end {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  //  @include align-items(flex-end);
}