.nav-main {
  padding-top: $margin-half;
  a {
    @include border-radius(5px);
    padding: (0.75*$margin-half) $margin;
    font-size: #{(22/$font-size-base)}rem;
    font-weight: $font-weight-bold;
    color: $color-white;
  }
  li {
    float: left;
    margin-left: $margin-half;
    a {
      background-color: $color-brand;
    }
  }
  li.last {
    a {
      background-color: $color-brand-2;
    }
  }
}