html {
  font-size: #{$font-size-base}px;
  line-height: $line-heigth-base;
}

body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
}

.page-wrapper {
  margin: 0 auto;
  width: $width-fix;
}

.page-header {
  @extend %row-clearfix;
  @include box-sizing;
  padding: (0.5 * $margin);
  background-color: $color-white;
}

.flex-row-between {
  @extend %flex-row-between;
}
