.description-title,
.page-title {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

strong,
b {
  font-weight: $font-weight-medium;
}

small {
  font-size: #{(12/15)}rem;
}

.text-brand {
  color: $color-brand;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: #{(35/$font-size-base)}rem;
  font-weight: $font-weight-bold;
  padding: (1.5 * $margin) 0 $margin-half;
}

.page-title {
  font-size: #{(60/$font-size-base)}rem;
  line-height: $line-heigth-base;
  margin-bottom: $margin-half;
  text-align: center;
}
