<!DOCTYPE html>
<html data-lang="{$lang}">
    <head>
        <title>{block title}{/}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
        <meta name="robots" content="index,follow,noodp">
        <meta name="description" content="{block description|truncate:151,''}{/}">
        <meta name="author" content="klepapp.com">
        <meta name="keywords" content="{block keywords}{/}">
        <meta property="og:title" content="Klep">
        <meta property="og:description" content="{$head['description']}">
        <meta property="og:url" content="http://www.klepapp.com">
        <meta property="og:site_name" content="klepapp.com">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.klepapp.com/images/logo.png">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/apple-touch-icon-152x152.png" />
        <link href="{$basePath}/css/screen.css" rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){
                i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59410612-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body class="{$lang}" id="top">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0&appId=1543579745897399";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {include '_navigation.latte'}

    {snippet x1}
        {block content}{/block}
    {/snippet}

        {include '_footer.latte'}

        <script src="{$basePath}/js/nette.ajax.pack.js"></script>
        <script src="{$basePath}/js/jquery.ajaxform.pack.js"></script>
        <script src="{$basePath}/js/jquery.fancybox.pack.js"></script>
        <script src="{$basePath}/js/app.pack.js"></script>
        <script>$.nette.init();</script>
    </body>
</html>
