<div class="section footer text-center">
    <p>&copy; {date('Y')} Klep, All Rights Reserved</p>
    <a href="https://www.facebook.com/KlepApp" target="_blank" title="Klepapp on facebook">
        <img src="{$basePath}/images/facebook.png" alt="Klepapp on facebook" />
    </a>
</div>