<nav class="page-header js-header" role="navigation">
    <a href="#top" class="brand js-scroll">
        <img src="{$basePath}/images/logo.png" alt="{$navigation['header']}"/>
    </a>

    <ul class="nav-main col-last">
        <li n:foreach="$navigation['menu'] as $item" n:class="$iterator->last ? 'last'">
            <a href="{$item['href']}" class="js-scroll" title="{$item['title']}" >{$item['title']}</a>
        </li>
    </ul>
</nav>