@import url(http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  margin-right: 1.69492%;
}

.page-header, .row, .section {
  *zoom: 1;
  width: 100%;
  position: relative;
}
.page-header:after, .row:after, .section:after {
  content: "";
  display: table;
  clear: both;
}

.flex-row-between {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.page-wrapper {
  margin: 0 auto;
  width: 1022px;
}

.page-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.875rem;
  background-color: #ffffff;
}

img {
  vertical-align: middle;
}

img.img-responsive {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

.col-1 {
  width: 6.77966%;
}

.col-2 {
  width: 15.25424%;
}

.col-3 {
  width: 23.72881%;
}

.col-4 {
  width: 32.20339%;
}

.col-5 {
  width: 40.67797%;
}

.col-6 {
  width: 49.15254%;
}

.col-7 {
  width: 57.62712%;
}

.col-8 {
  width: 66.10169%;
}

.col-9 {
  width: 74.57627%;
}

.col-10 {
  width: 83.05085%;
}

.col-11 {
  width: 91.52542%;
}

.col-12 {
  width: 100%;
}

.col-last {
  margin-right: 0;
  border-right: none !important;
  float: right;
}

.nav-main {
  padding-top: 0.875rem;
}
.nav-main a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.65625rem 1.75rem;
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
}
.nav-main li {
  float: left;
  margin-left: 0.875rem;
}
.nav-main li a {
  background-color: #1c90ea;
}
.nav-main li.last a {
  background-color: #eaa302;
}

.wanted {
  background-color: #ebebeb;
  padding-top: 1.75rem;
}
.wanted .perex {
  font-size: 1.875rem;
  line-height: 1.5em;
  text-align: center;
  color: #757171;
  margin-bottom: 0.875rem;
}
.wanted .images {
  text-align: center;
}

.founder {
  padding-top: 1.75rem;
}
.founder .img-founder {
  margin-bottom: 2.625rem;
}
.founder figcaption {
  padding: 0 3.5rem;
  border-right: 1px solid #ebebeb;
}
.founder figcaption.last {
  border-right: none;
}
.founder p {
  color: #757171;
  margin-bottom: 0.875rem;
  height: 73px;
  overflow: hidden;
  position: relative;
}
.founder p:after {
  position: absolute;
  bottom: 20px;
}
.founder .perex-1:after {
  content: url('/images/chuck.png');
}
.founder .perex-2:after {
  content: url('/images/mark.png');
}
.founder h3 {
  font-weight: 700;
  color: #404040;
  margin-bottom: 3.5rem;
}
.founder small {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #757171;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.founder .video-link {
  margin-bottom: 0.875rem;
}

.video {
  display: inline-block;
  background: rgba(0, 0, 0, 0.35) url('/images/play-btn.png') no-repeat center center;
}
.video img {
  position: relative;
  z-index: -1;
}

.lookfor {
  border-bottom: 1px solid #ebebeb;
}
.lookfor h2 {
  margin-bottom: 2.625rem;
}

.position {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.225rem 1.75rem;
  margin-bottom: 3.5rem;
  border-right: 1px solid #ebebeb;
}
.position.last {
  border-right: none;
}
.position h3 {
  font-size: 1.0625rem;
  margin-bottom: 0.875rem;
  font-weight: 700;
}
.position p {
  font-weight: 400;
  color: #757171;
  line-height: 1.5em;
}

.contact {
  padding-bottom: 2.625rem;
  border-bottom: 1px solid #ebebeb;
  font-size: 2.1875rem;
}
.contact h2 {
  line-height: 1em;
}
.contact a {
  color: #1c90ea;
}

select,
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.65625rem 1.75rem;
  border: none;
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

select,
input[type="text"],
input[type="email"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #bfbfbf;
  padding: 0.65625rem 0.875rem;
  font-size: 1.125rem;
}
.error select, .error
input[type="text"], .error
input[type="email"] {
  -moz-box-shadow: 0 0 8px -1px rgba(234, 48, 28, 0.75);
  -webkit-box-shadow: 0 0 8px -1px rgba(234, 48, 28, 0.75);
  box-shadow: 0 0 8px -1px rgba(234, 48, 28, 0.75);
  border: 1px solid #EA301C;
}

select {
  color: #A9A9A9;
  background: #ffffff url('/images/arrow-down.png') no-repeat 95% center;
}

.form-group {
  margin-bottom: 0.65625rem;
}

.forms {
  padding-bottom: 2.625rem;
  border-bottom: 1px solid #ebebeb;
}
.forms h2 {
  margin-bottom: 1.75rem;
}
.forms h3 {
  color: #404040;
  font-size: 1.25;
  font-weight: 700;
  margin-bottom: 0.65625rem;
}
.forms p {
  color: #757171;
}

#form-1 input[type="submit"] {
  background-color: #1c90ea;
}

#form-2 input[type="submit"] {
  background-color: #eaa302;
}

.footer {
  color: #757171;
  padding: 2.625rem 0;
}
.footer p {
  margin-bottom: 0.875rem;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('/images/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('/images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('/images/blank.gif');
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('/images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('/images/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url('/images/fancybox_loading@2x.gif');
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.description-title,
.page-title {
  text-transform: uppercase;
  font-weight: 700;
}

strong,
b {
  font-weight: 700;
}

small {
  font-size: 0.8rem;
}

.text-brand {
  color: #1c90ea;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 2.1875rem;
  font-weight: 700;
  padding: 2.625rem 0 0.875rem;
}

.page-title {
  font-size: 3.75rem;
  line-height: 1.5em;
  margin-bottom: 0.875rem;
  text-align: center;
}

.alert {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.21875rem 0.4375rem;
  margin-bottom: 0.21875rem;
}
.alert.big {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  padding: 1.75rem;
}

.alert-danger {
  color: #EA301C;
}

.alert-success {
  background-color: #1CEAA5;
}
.forms .alert-success {
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .page-wrapper {
    width: 95%;
  }

  .founder figcaption {
    padding: 0 1.75rem;
  }
}
@media only screen and (max-width: 760px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .founder figcaption, .position {
    border-right: none;
  }

  .founder {
    padding-bottom: 0.875rem;
  }

  .position {
    margin-bottom: 0.875rem;
  }

  .founder:first-child, .founder:last-child, .position:first-child, .position:last-child {
    background-color: #ebebeb;
  }
}
@media only screen and (max-width: 640px) {
  .nav-main a {
    padding: 0.65625rem 0.48125rem;
    font-size: 1rem;
  }

  .page-title {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 300px) and (max-width: 520px) {
  .nav-main a {
    padding: 0.65625rem 0.48125rem;
    font-size: 1rem;
  }

  .page-title {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-main a {
    padding: 0.65625rem 0.30625rem;
    font-size: 0.8125rem;
  }

  .page-title {
    font-size: 1.75rem;
  }

  .brand {
    float: left;
  }
}
